logs
*.log
.grunt
node_modules
bower_components
build

.idea/
.vscode/
.vs/

start.sh
node_modules/
service/
backup*/
cache/
images/
data/
files/
bin/config/web.json
bin/config/edit.json
bin/config/software.json