<html>
<head>
    <script src="video.min.js"></script>
</head>
<body>
    <video id="example_video_1" width="400" height="200" controls>
        <source type="video/ogg" src="http://records.17kouyu.com/5b42292406219c0c655385a5">
        <source type="video/ogg" src="5b42292406219c0c655385a5.ogg">
    </video>
    <script>
        var myPlayer = videojs('example_video_1');
        videojs("example_video_1").ready(function(){
            var myPlayer = this;
            myPlayer.play();
        });
    </script>
</body>
</html>