<script>
    //data:window.$data
    //element:toolbars,
    //methods:runBuild,showDialog
    ['Checkout', 'Update', 'Build', 'Deploy'].forEach(function (bar, index) {
        var texts = ['切换分支[' + window.$data.branch + ']', '更新代码', '一键部署', '选择上传部署'];
        var toolbar = document.createElement('div');
        var a = document.createElement('a');
        var message = document.createElement('ol');
        toolbars.append(toolbar);
        toolbar.append(a);
        toolbar.append(message);
        a.innerHTML = texts[index] + ' <i>' + times(Object.keys(dirs).map(i => dirs[i].mtime).filter(i => !!i).sort().pop()) + '</i>';
        toolbar.onclick = function () {
            var parms = 'build=';
            var contentEl = document.createElement('div');
            contentEl.className = 'content-self';

            switch (bar) {
                case 'Checkout':
                    runBuild(bar, '获取分支列表', 'branch=', toolbar, a, message, function (items) {
                        contentEl.innerHTML = '你可以切换到下列分支.';
                        var bEl = document.createElement('select');
                        contentEl.appendChild(bEl);

                        items.filter(i => /^!!/.test(i)).pop().replace(/remotes\/origin\//gi, '').split('\n').filter(i => !/^(!!|\*|master)/.test(i)).forEach(function (br) {
                            var oEl = document.createElement('option');
                            oEl.value = br.trim();
                            oEl.innerHTML = br;
                            bEl.appendChild(oEl);
                        });

                        showDialog('确保保存所有/最近修改。', contentEl, ['确定'], function () {
                            runBuild(bar, texts[0].replace(/\[.*\]+/, bEl.value), 'checkout=' + bEl.value, toolbar, a, message);
                        });
                    });
                    break;
                case 'Update':
                    showDialog('更新代码', '确保更新所有代码，可能会出现冲突', ['确定'], function () {
                        runBuild(bar, texts[index], 'update=', toolbar, a, message);
                    });
                    break;
                case 'Build':
                    contentEl.innerHTML = '1。如果代码没有提交，那么只有相应的模块被打包<br><br>2。否则，最近的提交将被打包，并且最新的提交时间<br>。';
                    var sEl = document.createElement('select');
                    contentEl.appendChild(sEl);
                    for (var i = 0; i < 20; i++) {
                        var oEl = document.createElement('option');
                        oEl.value = i * 10;
                        oEl.innerHTML = i ? ('最近提交的' + i * 10 + '次') : ('所有模块');
                        sEl.appendChild(oEl);
                    }
                    showDialog('确保更新所有代码，可能会出现冲突', contentEl, ['确定'], function () {
                        runBuild(bar, texts[index], 'build=' + sEl.value, toolbar, a, message);
                    });
                    break;
                case 'Deploy':
                    var selectList = [];
                    Object.keys(dirs).filter(i => !!dirs[i]).forEach(function (d) {
                        var dEl = document.createElement('div');
                        contentEl.appendChild(dEl);
                        dEl.innerHTML = d;
                        dEl.onclick = function () {
                            if (selectList.indexOf(d) !== -1) {
                                dEl.className = '';
                                selectList = selectList.filter(i => i !== d);
                            } else {
                                dEl.className = 'active';
                                selectList.push(d);
                            }
                        };
                    });
                    showDialog('发布现有的ZIP包', contentEl, ['确定'], function () {
                        runBuild(bar, texts[index], 'deploy=' + selectList.join(), toolbar, a, message);
                    });
                    break;
            }
        };
    });
</script>